PORT=3000

# From the Discord Developer Portal (discord.com/developers/applications)
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://yourdomain.com/auth/discord/callback

# Ensure you add the Redirect URI on the Discord Developer Dashboard, otherwise the flow will break.

# Any long random string, used to sign session cookies
SESSION_SECRET=

# Run ` node -e "console.log(require('crypto').randomBytes(32).toString('hex'))" ` in VS Code to generate a secret string.